<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contactUsStyle.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class="myNav">
            <h1 class="pagetitle"><a href="/AddProgress">DAILY PROGRESS</a></h1>
            <ul class="pages">
                <li><a href="/">HOME</a></li>
                <li><a href="/aboutUs">ABOUT US</a></li>
                <li><a href="/contactUs">CONTACT US</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="signUpForm" action="/contactUs" method="post">
            <h1>Love to hear from you,<br>Get in touch 👋🏼</h1>
            <div class="formElements">
                <div class="fe1">
                    <label class="labelName" for="name">Your name</label><br>
                    <input class="textbox" id="name" type="text" name="Name" required>
                </div>
                <div class="fe2">
                    <label class="labelName" for="email">Your email</label><br>
                    <input class="textbox" id="email" type="text" name="email" required>
                </div>
                <div class="fe3">
                    <label class="labelName" for="comments">Message</label><br>
                    <textarea name="message" id="comments" cols="70" rows="10"></textarea>
                </div>
            </div>
            <button class="submitbtn" type="submit">Submit <span class="arrow">⇝</span></button>
        </form>
    </main>
    <footer>
        <p class="footer-text">Made by curious Software Engineer "Abrar Faiz Mohammed" 🙂</p>
    </footer>
</body>

</html>