@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 40px;
}
.myNav {
  display: flex;
  position: relative;
  height: 100px;
  color: #999999;
  background-color: #e6e6e6;
}
.pagetitle {
  margin: auto 0;
  margin-left: 20px;
  letter-spacing: 5px;
}
.pages {
  display: flex;
  gap: 25px;
  list-style: none;
  height: 100px;
  position: absolute;
  right: 60px;
  margin: auto 0;
  letter-spacing: 5px;
}
.pages li {
  margin: auto 0;
}
.myNav a {
  text-decoration: none;
  color: #999999;
}
.myNav a:hover {
  color: #474554;
}
.blogscontainer {
  padding: 10px;
}
.postheading {
  margin: 20px 0;
}
.quotesBlock {
  position: relative;
  width: 100%;
  height: 200px;
  color: white;
  border-radius: 10px;
  box-shadow: 2px -1px 6px #e6e6e6;
}
#quotetext {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: "Tangerine", cursive;
  font-size: 30px;
}
#quotebgvideo {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
footer {
  text-align: center;
  color: #999999;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 30px;
}
.footer-text {
  margin: 0;
  justify-content: center;
}
/*************Add Progress Page styling ***************/
.addprogress-title {
  margin-left: 20px;
  text-shadow: -1px -1px 3px #b3b3b3;
}
#postTitle {
  width: 94.5%;
  height: 30px;
  border-radius: 5px;
  border: solid 2px #e6e6e6;
  box-shadow: 1px 1px 10px #e6e6e6;
  padding-left: 10px;
  margin-top: 5px;
}
#postTitle:focus {
  background-color: #ffffb3;
  outline: none;
  border-color: #b3b3ff;
  box-shadow: 1px 1px 10px #e6e6e6;
}
#postdetails {
  width: 95%;
  height: 200px;
  border-radius: 5px;
  border: solid 2px #e6e6e6;
  box-shadow: 1px 1px 10px #e6e6e6;
  margin-top: 5px;
}
#postdetails:focus {
  background-color: #ffffb3;
  outline: none;
  border-color: #b3b3ff;
  box-shadow: 1px 1px 10px #e6e6e6;
}
.publishbtn {
  margin-top: 10px;
  width: 100px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #e6e6e6;
  color: black;
  text-shadow: -1px -1px 3px #b3b3b3;
  box-shadow: 1px 1px 10px #e6e6e6;
  font-size: 15px;
  cursor: pointer;
}
.publishbtn:hover {
  background-color: #474554;
  color: #e6e6e6;
}

/******************************About Us page ***********************************/
.aboutusmain {
  width: 50vw;
  margin: auto;
  margin-top: 20px;
}
.aboutus-desc {
  padding-left: 10px;
}
.aboutus-heading {
  margin: 10px 0;
}
.linkedin {
  color: black;
}


/******************************Post page ***********************************/

.postpageDescription{
 text-align:justify;
}